.title{
   display: flex;
   width: 15%;
   margin: auto;
   justify-content: center;
   font-weight: bold;
   margin-top: 2rem;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   box-shadow:0px 4px 17px rgba(0, 0, 0, 0.35);
   border-radius: 10px;
   transition: 1s ease;
}

.title:hover{
transform: translateY(-5px);
}